@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}